@font-face {
    font-family: "CascadiaMono";
    src: url("./src/CascadiaMonoNF.ttf");
}

@font-face {
    font-family: "myfont";
    src: url("./src/07鉄瓶ゴシック.otf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: "CascadiaMono";
}


.japanese-font {
    font-family: "myfont"
}

.command-text {
    color: #00ff00;
}

#terminal {
    background-color: #17181e;
    border-radius: 5px;
    border: 2px solid #ffffff;
    width: 90%;
    max-width: 900px;
    height: 90%;
    max-height: 1900px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    --glow-color: rgb(176 245 255);
    --glow-spread-color: rgb(123 199 255 / 78%);
    --enhanced-glow-color: rgb(13 255 2);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    transition: all 0.3s;
    border-radius: 1em;
}

#output {
    height: 1800px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#input-line {
    display: flex;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
}

#input-line span {
    margin-right: 5px;
}

#input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: inherit;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}